body {
  background-color: #643DA7;
  margin-left: 400px;
  margin-right: 400px;
}
#print {
   border-style: dotted;
   background-color: white;
   font-family: 'Bangers', cursive;
   color: black;
   margin: 5px;
   overflow: hidden;
}

#postFullName {
  font-weight: bolder;
  text-align: center;
  font-size: 2em;
}

div {
  background-color: red;
}

img {
   width: 90px;
   height: 90px;
   float: left;
}
